.app_violet_theme {
    --bg-color: #faf4fb;
    --inverted-bg-color: #693270;
    --primary-color: #342654;
    --secondary-color: #342654;
    --inverted-primary-color: #faf4fb;
    --inverted-secondary-color: #faf4fb;
}
